/* To request a range of a variable font axis, join the 2 values with .. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200..900&display=swap');

*, *::before, *::after { box-sizing: border-box; }

:root {
    --dark-blue: #007991;
    --light-blue: #02b4d8;
    --dark-grey: #1c1c1c;
    --light-grey: #969696;
    --lighter-grey: #e9e9e9;
    --green: #d4fbc3;
    --brown: #54341f;
}

::selection {
    color: var(--dark-grey);
    background: var(--green);
  }

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--lighter-grey);
}

body::-webkit-scrollbar-thumb {
    background: var(--dark-grey
    );
}
html {
    scroll-behavior: smooth;
}
body { 
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    color: #1c1c1c;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1, h2 {
    font-family: Public Sans, Arial, Helvetica, sans-serif;
    margin: 0;
}

h3 {
    margin-top: 0.4rem;
    // margin-bottom: 0.6rem;
    font-family: Public Sans, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--brown);
    line-height: 1.3;
}

h4 {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.border {
    border: 8px solid var(--green);
}

// main {
//     margin-top: -3rem;
// }

.hero {
    background-color: var(--green);
    background-image: url(./img/rzzl-bg.gif);
    background-blend-mode: screen;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 2rem;

    &__content {
        // background: blue;
        max-width: 1000px;
        text-align: center;
    }
    
    &__title {
       font-size: calc(8vw + 2rem);
       font-weight: 800;
       line-height: 0.85;
       color: white;
       text-shadow: 5px 5px 0 var(--green);
       -webkit-text-stroke: 1px #1c1c1c;
       margin-bottom: 3rem;
       animation: variable-font-warp 3s infinite alternate;

    }

    &__subtitle {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1.4rem;
        line-height: 1.3;
        letter-spacing: 3px;
    }
}

@keyframes variable-font-warp {
    0% { font-weight: 800;}
    100% { font-weight: 400;}
}

section {
    padding: 6rem 2rem;
}

.section {
    &--darkbg {
        background-color: #333;
        color: #e9e9e9;
    }

    &--lightbg {
        background-color: var(--green);
        background-image: url(./img/rzzl-bg.gif);
        background-blend-mode: screen;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;

    &--reverse {
        flex-direction: row-reverse;
    }

    &__text, &__img {
        width: 48%;
    }
}


footer {
    position: fixed;
    bottom: 50%;
    right: 0;
    transform: rotate(-90deg) translateY(490%);
    font-size: 0.8rem;
    a {
        color: red;
        border-bottom: 1px solid transparent;
        transition: border 300ms ease;
        &:hover {
            border-bottom: 1px solid red;
        }
    }
    .active {
        pointer-events: none;
        border-bottom: 1px solid red;

    }
}

@media (max-width: 900px) {

    body {
        font-size: 14px;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
        text-align: left;
    }
    h4 {
        font-size: 1.2rem;
        margin: 1rem 0
    }

    .hero {
        min-height: 70vh;

        &__subtitle {
            font-size: 1.2rem;
        }
    }

    section {
        padding: 2rem 2rem 2.6rem 2rem;
    }

    .container {
        max-width: 420px;
    }

    .flexbox, .flexbox--reverse {
        flex-direction: column-reverse;

        &__text, &__img {
            width: 100%;
        }
    }

    footer {
        position: relative;
        transform: rotate(0) translateY(0);
        text-align: center;
        margin: 0.6rem 0;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1100px;
    }
    .hero__title {
        font-size: 11rem;
    }
}